<div class="row" style="padding-top: 120px;">
  <div class="col"> </div>
    <div class="col-md-7">

      <h3>Add new team</h3>

        <%= render 'form' %>

      <div style="padding-bottom: 120px;">

        <%= link_to "Back", teams_path, class: 'btn btn-md btn-info' %>

      </div>

    </div>
  <div class="col"> </div>
</div>