<footer class="footer text-center bg-dark">
	<div class="container">
		<div class="row pt-4">
			<div class="col-lg-6">
				<%= link_to 'Youtube' %> |
				<%= link_to 'Facebook' %>  |
				<%= link_to 'Instagram' %>
			</div>
			<div class="col-lg-6">
				<p><span color="#eeeeee">@2019 Jarosław Żmijewski</span></p>
			</div>
		</div>
	</div>
</footer>