<section class="container pt-5">
	<div class="row pt-5">
		<div class="col pt-5"></div>
		<div class="col-12 text-center pt-4">
		  <%= image_tag 'volley.jpg', style: "width:30%" %>
			<h3>Welcome on</h3>
			<p><%= link_to 'My page', matches_path, class: 'btn btn-md btn-info' %></p>
		</div>
		<div class="col"></div>
	</div>
</section>

