<div class="row">
	<div class="col"></div>
	<div class="col-sm-8 text-center">
	  <%= image_tag 'volley.jpg', style: "width:30%" %>
		<h1>Welcome on</h1>
		<p><%= link_to 'My page', matches_path, class: 'btn btn-md btn-info' %></p>
	</div>
	<div class="col"></div>
</div>

