<div class="row" style="padding-top: 100px;">
  <div class="col"> </div>
    <div class="col-md-12">

      <table class="table table-hover table-striped table-responsive-xs table-danger">
			<tr>
			  <th>Position</th>
			  <th>Team</th>
			  <th>Points</th>
			  <th>Set_plus</th>
			  <th>Set_minut</th>
		    </tr>
 
			  <!--  @teams.each do |team| 

			    <td>
			      team.name 
			    </td> -->

			    <!--   <td> 
				  team.point 
			     </td>  -->

			    <!-- <td>
				  team.set_plus
			    </td> -->

			   <!--  <td>
				  team.set_minus 
			    </td>  -->

	          

		</table>



   
             
             <%= link_to 'Back', root_path, class: 'btn btn-sm btn-warning' %>
        

          
      </div>
    </div>
           
</div>
