<div class="row">
  <div class="col"> </div>
    <div class="col-6">

      <h3>Edit match</h3>

        <%= render "form" %>

          <div style="padding-bottom: 0.5rem;">

            <%= link_to "Back", matches_path, class: 'btn btn-md btn-info' %>

          </div>

    </div>
  <div class="col"> </div>
</div>
