<div class="row" style="padding-top: 120px;">
  <div class="col"> </div>
    <div class="col-sm-7">

      <h3>Add new match</h3>

        <%= render 'form' %>

        <div style="padding-bottom: 50px;">

          <%= link_to "Back", matches_path, class: 'btn btn-md btn-info' %>

        </div>

    </div>
  <div class="col"> </div>
</div>
