/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "players";
@import "footer";
@import "teams";
@import "matches";
@import "sessions";
@import "users";
@import "navigation";

html {height: 100%;}

body {

  width: 100%;
  min-height: 100%; 
  position: relative; 
  padding-bottom: [footer-height];
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  touch-action: manipulation;
}

.bg-dark
{
	background-color: #050505 !important;
}

.form-control {
	background-color: #F8F8FF;
  border-radius: 12px;
}

.card
{
  -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.30);
  -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.30);
  -ms-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.30);
  -o-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.30);
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.30);
  padding: 10%;
}

.card-block {
    
    font-style: italic;
    font-size: xx-large;
    min-height: 9rem;
}

.card-title
{
  padding-top: 1rem;
  text-transform: capitalize;
  font-size: 1rem;
}

.card-topper
{
  background-color: #050505;
  min-height: 10rem;
  background-position: center;
}

.picture {
  width: 100%;
  height: 250px;
  object-fit: cover;
  padding: 1vh;
}