.footer { 
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    height: 65px;
}

.footer p {
  font-size: 1rem;
}

.footer a
{
  border-bottom: 1px solid transparent;
  -webkit-transition-border: border 0.2s ease;
  -moz-transition-border: border 0.2s ease;
  -ms-transition-border: border 0.2s ease;
  -o-transition-border: border 0.2s ease;
  transition-border: border 0.2s ease;
  color:#aaaaaa;
}

.footer a:hover
{
  text-decoration:none;
  border-bottom-color: #00eeff;
}

@media only screen and (max-width: 1199px),
(min-device-width: 992px) and (max-device-width: 1199px) {
  .footer { 
      position: absolute; 
      left: 0 ; right: 0; bottom: 0; 
      height: 100px;}
  .footer p {
    font-size: 1.1rem;}    
}

@media only screen and (max-width: 991px),
(min-device-width: 768px) and (max-device-width: 991px) {
  .footer { 
      position: absolute; 
      left: 0 ; right: 10; bottom: 0; 
      height: 140px;}
  .footer p {
    font-size: 1.2rem;}    
}

@media only screen and (max-width: 767px),
(min-device-width: 100px) and (max-device-width: 767px) {
  .footer { 
      position: absolute; 
      left: 0 ; right: 20; bottom: 0; 
      height: 160px;}
  .footer p {
    font-size: 1.3rem;}    
}



