.footer {
  width: 100%;
  height: auto; 
  background-color: #28364f;
  padding-top: 10px;
  color:#FFFFFF;

}

.text-center {
  font-style: italic;
  margin: 5%;
}

.text-center a
{
	font-weight: bold;
	color: #f3cace !important;
}

.text-center a:hover
{
	font-weight: bold;
	color: #ffffff;
}


