.footer {

  width: 100%;
  height: 100%; 
  background-color: #28364f;
  padding-top: 50px;
  color:#FFFFFF;
  min-height: 250px;
}

.text-center {
  font-style: italic;
  margin :3px;
}

.text-center a
{
	font-weight: bold;
	color: #f3cace !important;
}
.text-center a:hover
{
	font-weight: bold;
	color: #ffffff;
}


