// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
	background-color: #D3D9D3;
}

.card-block {
    
    font-style: italic;
    font-size: xx-large;
    min-height: 9rem;
}

.form-control2 {
	text-align: center;
	width: 35%;
	border-radius: 0.5rem;
	border: 0.2rem solid #ccc;
}

h2 {
	min-height: 3rem;
}
.card-title {
	font-size: 1rem;
}