// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
	background-color: #D3D9D3;
}

.card-block {
    
    font-style: italic;
    font-size: xx-large;
}

.form-control2 {
	text-align: center;
	width: 35%;
	border-radius: 8px;
	border: 4px solid #ccc;
}

h2 {
	min-height: 50px;
}
