// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
	background-color: #93E3D9;
}

.card-block {
    text-align: center;
    font-style: italic;
    color: #3B2806;
}

.form-control2 {
	text-align: center;
	width: 35%;
	border-radius: 8px;
	border: 4px solid #ccc;
}


