// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card
{
	-moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.30);
	-webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.30);
	-ms-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.30);
	-o-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.30);
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.30);
	padding: 10%;
}

.card-title
{
	padding-top: 1rem;
	text-transform: capitalize;
	font-size: 1rem;
}

.card-topper
{
	background-color: #050505;
	min-height: 10rem;
	background-position: center;
}

.players {
	width: 75%;
	display: block;
	margin-top: 0.6rem;
	margin-bottom: 0.6rem;
    margin-left: auto;
    margin-right: auto;
}
