// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.card2
{
	-moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.30);
	-webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.30);
	-ms-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.30);
	-o-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.30);
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.30);
	padding: 10%;
}

.card-title2
{
	padding-top: 1rem;
	text-transform: capitalize;
	font-size: 1rem;
}

.card-topper2 {
	background-color: #050505;
	min-height: 10rem;
	background-position: center;
	padding-top: 1.6rem;
	padding-bottom: 1.6rem;
}

.teams {
	width: 100%;
	height: 250px;
	object-fit: cover;
	padding: 1vh;
}

.card-block {
	padding-top: 0.6rem;
}

