// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.card2
{
	-moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.30);
	-webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.30);
	-ms-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.30);
	-o-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.30);
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.30);
	padding: 10%;
}

.card-title2
{
	padding-top: 1rem;
	text-transform: capitalize;
	font-size: 14px;
}

.card-topper2 {
	background-color: #050505;
	min-height: 150px;
	background-position: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

.teams {
	width: 50%;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

.card-block {
	padding-top: 10px;
}