// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-control {
	text-align: center;
	margin-left: 10px;
	width: 50%;
}

.user {
	text-align: center;
}

.login_user {
	margin-left: 100px;
}