<div class="row pt-2">

<% if model.errors.any? %>
  <div>
    <h4>
    	Znaleziono <%= pluralize(model.errors.count, 'błędy') %>, które nie pozwalają zapisać danych: 
    </h4>
    <hr/>
    <ul>
        <% model.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
    </ul>
  </div>
<% end %>

</div>